name: Playwright Tests

on:
  push:
    branches: ["main"]
  workflow_dispatch:
  schedule:
    - cron: "0 22 * * *"
    - cron: "0 23 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run only at 00:00 Europe/Bratislava (schedule)
        if: github.event_name == 'schedule'
        run: |
          HOUR=$(TZ=Europe/Bratislava date +%H)
          MIN=$(TZ=Europe/Bratislava date +%M)
          echo "Bratislava time: $HOUR:$MIN"
          if [ "$HOUR" != "00" ]; then
            echo "Not midnight -> skip."
            exit 78
          fi

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install deps
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run tests
        run: npx playwright test

      - name: Upload report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report